body{
    font-family: 'Work Sans', sans-serif;
}
header{
	margin-top:100px; 
}
h1{
	font-family: 'Work Sans', sans-serif;
	font-weight:700;
	font-size:2.5rem;
	color: #1d2455;
}
h2{
	font-family: 'Work Sans', sans-serif;
	font-weight:700;
	font-size:36px;
	color: #1d2455;
}
h3{
	font-family: 'Work Sans', sans-serif;
	font-weight:700;
	font-size:30px;
	color: #1d2455;
}
h4{
	font-family: 'Work Sans', sans-serif;
	font-weight:700;
	font-size:24px;
	color: #1d2455;
}
h5{
	font-family: 'Work Sans', sans-serif;
	font-weight:700;
	font-size:24px;
	color: #2b79bb;
}
h6{
	font-family: 'Work Sans', sans-serif;
	font-weight:700;
	font-size:1rem;
	color: #2b79bb;
}
.para1{
	font-size: 1.2rem;
}
.space{
	display: block;
	padding:3rem;
}
/******************bs color and backgournd */
.bg-primary {
    background-color: #1d2455 !important;
}
.bg-success {
    background-color: #00d9c8 !important;
}
.bg-info {
    background-color: #5997f0 !important;
}
.bg-danger {
    background-color: #ff10fb !important;
}

.text-primary{
	color: #1d2455 !important;
}
.text-success {
    color: #00d9c8 !important;
}
.text-info {
    color: #5997f0 !important;
}
.text-danger {
    color: #ff10fb !important;
}


.bar-primary{
	padding:2px;
	background-image: linear-gradient(to right, #1d2455 , #1d2455);
	border-radius: 5px; 
	width:100%;
	margin: 2rem 0; 
}
.bar-secondary{
	padding:1px;
	background-image: linear-gradient(to right, #ff4b91 , #ff1adf);
	border-radius: 5px; 
	width:10%;
}
.bar-danger{
	padding:2px;
	background-image: linear-gradient(to right, #ff6050,#ff00ff);
	border-radius: 5px; 
	width:45%;
	margin:10px auto;
}
/*****************header ***************/
.meta{
	font-size: 1.6rem;
	color: #1d2455;
}
.meta span{
	font-size:2rem;
}
/*****************#hero ***************/
#hero{
	margin:10px 0;
}
#hero .card{
	border-radius: 30px;
}
#hero .card-header{
	border:0px solid;
	border-radius: 30px 30px 0px 0px;
}
.display-4{
	font-weight:400;
}
/************#result*****************/
#result{
	margin: 50px 0;
	padding: 50px 0;
	background: #ccf8f4;
	border-radius: 15px 15px 0 0;
}
.percentile{
font-size:1.2rem;
margin: 0;
}
#result h1{
	font-size: 3rem;
}
.card-left{
	border-radius: 5px 0px 0px 5px;
	padding: 5px;
	display: flex;
	align-items: center;
}
.card-right{
	border-radius: 0px 5px 5px 0px;
	border: 1px solid #d8d8d8;
	border-left: 0px solid;
	padding: 5px;
	background: #f8f8f8;
}

.point{
	width: 50px;
	height: 50px;
	border-radius: 25px;
}
.point h5{
	line-height: 50px;
}
/******************#description*******************/
#description{
	margin:50px 0;
}
.big-icon{
	font-size:350px;
	top: 0;
	right: 0;
	z-index: -1;
	opacity: 0.2;
	line-height: 0;
}
/******************#explanation*******************/
#explanation{
	margin: 100px 0;
}
.domain-text{
	font-size:1.5rem;
	font-weight:500;
	font-style: italic;
}
.domain-bg{
	right: 0;
	bottom: 0;
	opacity: 0.3;
	z-index: -1
}